# Create a new project and ingest DLC data

1. [Initiate Project](#Initiate-Project)
2. [Concatenating all DLC results](#Concatenating-all-DLC-results)
3. [Preprocessing](#Preprocessing)
4. [Create Velocity column](#Create-Velocity-column)
5. [Save Preprocessed Combined & Individual csvs](#Save-Preprocessed-Combined-&-Individual-csvs)

# Initiate Project

In [1]:
from pathlib import Path
from compass_labyrinth import init_project


project_path = r'D:\Gladstone Dropbox\Palop Lab\Patrick\DeepLabCut Projects\AppSAA_DSI_CoMPASS_Test'
source_data_path = r'D:\Gladstone Dropbox\Palop Lab\Patrick\Machine Learning Behavioral Analysis\Labyrinth\Noldus\20251019_AppSAA_DSI_Labyrinth\Media Files\source_data'
user_metadata_file_path = r'D:\Gladstone Dropbox\Palop Lab\Patrick\Machine Learning Behavioral Analysis\DLC Info Sheets\20250725_LG124KI3_Cohort4_DLC_InfoSheet_v1.xlsx'

config, cohort_metadata = init_project(
    project_name="AppSAA_DSI_CoMPASS_Test_2",
    project_path=r'D:\Gladstone Dropbox\Palop Lab\Patrick\DeepLabCut Projects',
    source_data_path=source_data_path,
    user_metadata_file_path=user_metadata_file_path,
    trial_type="Labyrinth_DSI",
    file_ext=".csv",
    video_type=".mp4",
    dlc_scorer="DLC_resnet50_LabyrinthMar13shuffle1_1000000",
    experimental_groups=["WT", "AppSAA"],
)

Project already exists at D:\Gladstone Dropbox\Palop Lab\Patrick\DeepLabCut Projects\AppSAA_DSI_CoMPASS_Test_2

In [2]:
print(config.keys())
config

dict_keys(['bodyparts', 'creation_date_time', 'dlc_scorer', 'experimental_groups', 'file_ext', 'palette', 'project_name', 'project_path_full', 'session_names', 'trial_type', 'video_type'])

{'bodyparts': ['nose',
  'sternum',
  'belly',
  'tailbase',
  'leftflank',
  'rightflank'],
 'creation_date_time': '2025-11-05T11:56:56.417307',
 'dlc_scorer': 'DLC_resnet50_LabyrinthMar13shuffle1_1000000',
 'experimental_groups': ['WT', 'AppSAA'],
 'file_ext': '.shp',
 'palette': 'grey',
 'project_name': 'AppSAA_DSI_CoMPASS_Test_2',
 'project_path_full': 'D:\\Gladstone Dropbox\\Palop Lab\\Patrick\\DeepLabCut Projects\\AppSAA_DSI_CoMPASS_Test_2',
 'session_names': ['Session0001',
  'Session0002',
  'Session0003',
  'Session0004',
  'Session0005',
  'Session0006',
  'Session0007',
  'Session0008',
  'Session0009',
  'Session0010',
  'Session0011'],
 'trial_type': 'Labyrinth_DSI',
 'video_type': '.mp4'}

In [3]:
cohort_metadata

,Run Date,Time Of Day,Rack Location,Computer,Noldus Chamber,Camera #,Noldus Trial,Session #,ID,Name,...,Status,Line,Genotype,Birth Date,Age (months),Housing ID,Transmitter #,Exclude Trial,NOTES,Behavior Notes
0,2025-10-21T00:00:00,NaN,TL,1,BL,3,1,1,70791,895,...,Available,LG124KI3,WT,2024-01-02T00:00:00,22m3d,H-10593-17,"7,8",NaN,Both EEG look pretty noisy,Entered; ate all pellets
1,2025-10-21T00:00:00,NaN,TR,1,BR,4,1,2,70799,927,...,Available,LG124KI3,AppSAA,2024-01-11T00:00:00,21m25d,H-10605-17,"5,6",NaN,Signal looks good,Didn't finish all pellet
2,2025-10-22T00:00:00,NaN,BL,1,TL,1,2,3,71234,942,...,Available,LG124KI3,AppSAA,2023-12-18T00:00:00,22m18d,H-10699-17,"1,2",NaN,Signal looks good,Video may have froze around 6 hrs; mouse enter...
3,2025-10-22T00:00:00,NaN,TL,1,BL,3,2,4,71238,946,...,Available,LG124KI3,WT,2023-12-18T00:00:00,22m18d,H-10699-17,"7,8",NaN,Signal looks good,Ate pellts really fast
4,2025-10-22T00:00:00,NaN,TR,1,BR,4,2,5,70828,917,...,Available,LG124KI3,AppSAA,2024-02-06T00:00:00,20m30d,H-10613-17,"5,6",NaN,Signal looks good,Ate pellts really fast
5,2025-10-30T00:00:00,NaN,BL,1,TL,1,3,6,71363,949,...,Available,LG124KI3,WT,2024-01-23T00:00:00,21m13d,H-10774-17,"1,2",NaN,Signal looks good,Entered; ate all pellets
6,2025-10-30T00:00:00,NaN,BR,1,TR,2,3,7,71408,981,...,Available,LG124KI3,AppSAA,2024-01-26T00:00:00,21m10d,H-10790-17,"3,4",NaN,Signal looks good,Entered; ate all pellets
7,2025-10-30T00:00:00,NaN,TL,1,BL,3,3,8,71401,967,...,Available,LG124KI3,AppSAA,2024-01-27T00:00:00,21m9d,H-10787-17,"7,8",NaN,Signal looks good,Entered; ate all pellets
8,2025-10-30T00:00:00,NaN,TR,1,BR,4,3,9,70789,893,...,Available,LG124KI3,WT,2024-01-02T00:00:00,22m3d,H-10593-17,"5,6",NaN,Hippocampus channel is quite noisy,Entered; ate all pellets
9,2025-11-04T00:00:00,NaN,BL,1,TL,1,4,10,73995,1082,...,Available,LG124KI3,AppSAA,2024-04-04T00:00:00,19m1d,H-11259-17,"1,2",NaN,Signal looks good,Started 5:59:11pm
10,2025-11-04T00:00:00,NaN,TL,1,BL,3,4,11,72037,1012,...,Available,LG124KI3,WT,2024-02-13T00:00:00,20m23d,H-10928-17,"7,8",NaN,Signal looks good,Entered; ate all pellets

# Concatenating all DLC results

In [4]:
from compass_labyrinth.behavior.preprocessing import compile_mouse_sessions


df_comb = compile_mouse_sessions(
    config=config,
    bp='sternum',
)
df_comb

,x,y,Grid Number,likelihood,S_no,Region,Session,Genotype,Sex
0,265.426300,877.355591,47,0.647991,4159,entry_zone,1,WT,Female
1,258.073059,870.970032,47,0.953051,4161,entry_zone,1,WT,Female
2,258.764191,869.953430,47,0.973512,4162,entry_zone,1,WT,Female
3,259.499451,869.113159,47,0.945773,4163,entry_zone,1,WT,Female
4,257.825745,868.493469,47,0.957239,4164,entry_zone,1,WT,Female
...,...,...,...,...,...,...,...,...,...
644098,256.991150,844.630615,47,0.995856,218482,entry_zone,11,WT,Male
644099,257.961243,845.421814,47,0.997331,218483,entry_zone,11,WT,Male
644100,253.797043,845.797302,47,0.995143,218484,entry_zone,11,WT,Male
644101,252.432648,850.713013,47,0.994392,218485,entry_zone,11,WT,Male
644102,254.271866,852.648193,47,0.921957,218486,entry_zone,11,WT,Male

# Preprocessing

In [5]:
from compass_labyrinth.behavior.preprocessing import preprocess_sessions


df_all_csv = preprocess_sessions(df_comb=df_comb)
df_all_csv

,x,y,Grid Number,likelihood,S_no,Region,Session,Genotype,Sex,NodeType
0,265.426300,877.355591,47,0.647991,4159,entry_zone,1,WT,Female,Entry Nodes
1,258.073059,870.970032,47,0.953051,4161,entry_zone,1,WT,Female,Entry Nodes
2,258.764191,869.953430,47,0.973512,4162,entry_zone,1,WT,Female,Entry Nodes
3,259.499451,869.113159,47,0.945773,4163,entry_zone,1,WT,Female,Entry Nodes
4,257.825745,868.493469,47,0.957239,4164,entry_zone,1,WT,Female,Entry Nodes
...,...,...,...,...,...,...,...,...,...,...
605686,256.991150,844.630615,47,0.995856,218482,entry_zone,11,WT,Male,Entry Nodes
605687,257.961243,845.421814,47,0.997331,218483,entry_zone,11,WT,Male,Entry Nodes
605688,253.797043,845.797302,47,0.995143,218484,entry_zone,11,WT,Male,Entry Nodes
605689,252.432648,850.713013,47,0.994392,218485,entry_zone,11,WT,Male,Entry Nodes
605690,254.271866,852.648193,47,0.921957,218486,entry_zone,11,WT,Male,Entry Nodes

# Create Velocity column

In [6]:
from compass_labyrinth.behavior.preprocessing import ensure_velocity_column


df_all_csv = ensure_velocity_column(df_all_csv, fps=5) 
df_all_csv

,x,y,Grid Number,likelihood,S_no,Region,Session,Genotype,Sex,NodeType,Velocity
0,265.426300,877.355591,47,0.647991,4159,entry_zone,1,WT,Female,Entry Nodes,0.000000
1,258.073059,870.970032,47,0.953051,4161,entry_zone,1,WT,Female,Entry Nodes,48.694332
2,258.764191,869.953430,47,0.973512,4162,entry_zone,1,WT,Female,Entry Nodes,6.146425
3,259.499451,869.113159,47,0.945773,4163,entry_zone,1,WT,Female,Entry Nodes,5.582702
4,257.825745,868.493469,47,0.957239,4164,entry_zone,1,WT,Female,Entry Nodes,8.923715
...,...,...,...,...,...,...,...,...,...,...,...
605686,256.991150,844.630615,47,0.995856,218482,entry_zone,11,WT,Male,Entry Nodes,360.397450
605687,257.961243,845.421814,47,0.997331,218483,entry_zone,11,WT,Male,Entry Nodes,6.259144
605688,253.797043,845.797302,47,0.995143,218484,entry_zone,11,WT,Male,Entry Nodes,20.905473
605689,252.432648,850.713013,47,0.994392,218485,entry_zone,11,WT,Male,Entry Nodes,25.507736
605690,254.271866,852.648193,47,0.921957,218486,entry_zone,11,WT,Male,Entry Nodes,13.348827

# Save Preprocessed Combined & Individual csvs

In [7]:
from compass_labyrinth.behavior.preprocessing import save_preprocessed_to_csv


save_preprocessed_to_csv(
    config=config,
    df=df_all_csv,
)

Saved combined file: D:\Gladstone Dropbox\Palop Lab\Patrick\DeepLabCut Projects\AppSAA_DSI_CoMPASS_Test_2\csvs\combined\Preprocessed_combined_file.csv
Saved 11 individual session CSVs to: D:\Gladstone Dropbox\Palop Lab\Patrick\DeepLabCut Projects\AppSAA_DSI_CoMPASS_Test_2\csvs\individual