# Create a new project and ingest DLC data

1. [Initiate Project](#Initiate-Project)
2. [Concatenating all DLC results](#Concatenating-all-DLC-results)
3. [Preprocessing](#Preprocessing)
4. [Create Velocity column](#Create-Velocity-column)
5. [Save Preprocessed Combined & Individual csvs](#Save-Preprocessed-Combined-&-Individual-csvs)

# Initiate Project

In [1]:
from pathlib import Path
from compass_labyrinth import init_project


project_path = Path(".").resolve()
source_data_path = "/Users/luiztauffer/catalystneuro/ethoml_labyrinth/data"
user_metadata_file_path = "/Users/luiztauffer/catalystneuro/ethoml_labyrinth/data/WT_DSI_Labyrinth_Metadata.xlsx"

config, cohort_metadata = init_project(
    project_name="my_project",
    project_path=project_path,
    source_data_path=source_data_path,
    user_metadata_file_path=user_metadata_file_path,
    trial_type="Labyrinth_DSI",
    file_ext=".csv",
    video_type=".mp4",
    dlc_scorer="DLC_resnet50_LabyrinthMar13shuffle1_1000000",
    experimental_groups=["A", "B", "C", "D"],
)

Project path does not exist. Creating directory at /Users/luiztauffer/Github/CoMPASS-Labyrinth/notebooks/my_project
Loading metadata from: /Users/luiztauffer/catalystneuro/ethoml_labyrinth/data/WT_DSI_Labyrinth_Metadata.xlsx
Sheet name: Labyrinth_DSI
Initial rows loaded: 12
Excluded 0 trials marked for exclusion
Final dataset: 5 trials
Metadata validation completed

/Users/luiztauffer/Github/CoMPASS-Labyrinth/src/compass_labyrinth/behavior/pose_estimation/dlc_utils.py:67: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  mouseinfo = mouseinfo.applymap(

In [2]:
print(config.keys())
config

dict_keys(['project_name', 'project_path_full', 'creation_date_time', 'trial_type', 'file_ext', 'video_type', 'dlc_scorer', 'session_names', 'bodyparts', 'experimental_groups', 'palette'])

{'project_name': 'my_project',
 'project_path_full': '/Users/luiztauffer/Github/CoMPASS-Labyrinth/notebooks/my_project',
 'creation_date_time': '2025-10-13T12:58:06.227839',
 'trial_type': 'Labyrinth_DSI',
 'file_ext': '.csv',
 'video_type': '.mp4',
 'dlc_scorer': 'DLC_resnet50_LabyrinthMar13shuffle1_1000000',
 'session_names': ['Session-3',
  'Session-4',
  'Session-5',
  'Session-6',
  'Session-7'],
 'bodyparts': ['nose',
  'sternum',
  'belly',
  'tailbase',
  'leftflank',
  'rightflank'],
 'experimental_groups': ['A', 'B', 'C', 'D'],
 'palette': 'grey'}

In [3]:
cohort_metadata

,Session #,Run Date,Time Of Day,Rack Location,Computer,Noldus Chamber,Camera #,Noldus Trial,Noldus Project Name,DSI Trial,...,Birth Date,Age (months),Housing ID,Transmitter #,Exclude Trial,X1,X2,Y1,Y2,NOTES
0,3,2024-11-18T00:00:00,17:15:00,BR,1,TR,6,1,20241118_WT_DSI_Labyrinth_2,2,...,2024-06-01T00:00:00,5m13d,H-11495-17,"3,4",NaN,1486,2399,70,986,Grabbed all pellets early on
1,4,2024-11-18T00:00:00,17:15:00,TR,1,BR,2,1,20241118_WT_DSI_Labyrinth_2,2,...,2024-06-02T00:00:00,5m12d,H-11497-17,"5,6",NaN,1435,2359,1086,2015,Light turned off; slightly dark
2,5,2024-11-20T00:00:00,17:15:00,BR,1,TR,4,3,20241118_WT_DSI_Labyrinth_2,4,...,2024-06-01T00:00:00,5m13d,H-11495-17,"3,4",NaN,1486,2399,70,986,Entered
3,6,2024-12-02T00:00:00,17:15:00,BR,1,TR,4,5,20241118_WT_DSI_Labyrinth_2,6,...,2024-06-02T00:00:00,5m12d,H-11497-17,"3,4",NaN,1486,2399,70,986,Entered
4,7,2024-12-03T00:00:00,17:15:00,BL,1,TL,1,6,20241118_WT_DSI_Labyrinth_2,7,...,2024-06-01T00:00:00,5m13d,H-11495-17,"1,2",NaN,144,1075,19,954,Entered

# Concatenating all DLC results

In [4]:
from compass_labyrinth.behavior.preprocessing import compile_mouse_sessions


df_comb = compile_mouse_sessions(
    config=config,
    bp='sternum',
)
df_comb

,x,y,Grid Number,likelihood,S_no,Region,Session,Genotype,Sex
0,275.057129,875.337219,47,0.983259,748,entry_zone,3,WT,Female
1,271.037537,872.005432,47,0.989085,749,entry_zone,3,WT,Female
2,267.526978,873.733704,47,0.986050,750,entry_zone,3,WT,Female
3,265.571991,873.412659,47,0.953975,751,entry_zone,3,WT,Female
4,266.325684,874.166748,47,0.958631,752,entry_zone,3,WT,Female
...,...,...,...,...,...,...,...,...,...
568780,715.982178,83.346214,108,0.916427,234061,reward_path,7,WT,Female
568781,715.994568,83.334244,108,0.915723,234062,reward_path,7,WT,Female
568782,715.952209,83.355194,108,0.918599,234063,reward_path,7,WT,Female
568783,716.013123,83.227020,108,0.914609,234064,reward_path,7,WT,Female
568784,716.119385,83.272377,108,0.913305,234065,reward_path,7,WT,Female

# Preprocessing

In [5]:
from compass_labyrinth.behavior.preprocessing import preprocess_sessions


df_all_csv = preprocess_sessions(df_comb=df_comb)
df_all_csv

,x,y,Grid Number,likelihood,S_no,Region,Session,Genotype,Sex,NodeType
0,275.057129,875.337219,47,0.983259,748,entry_zone,3,WT,Female,Entry Nodes
1,271.037537,872.005432,47,0.989085,749,entry_zone,3,WT,Female,Entry Nodes
2,267.526978,873.733704,47,0.986050,750,entry_zone,3,WT,Female,Entry Nodes
3,265.571991,873.412659,47,0.953975,751,entry_zone,3,WT,Female,Entry Nodes
4,266.325684,874.166748,47,0.958631,752,entry_zone,3,WT,Female,Entry Nodes
...,...,...,...,...,...,...,...,...,...,...
265495,228.690262,814.897949,34,0.999385,225311,reward_path,7,WT,Female,Non-Decision (Reward)
265496,292.517883,837.722717,46,0.999992,225312,entry_zone,7,WT,Female,Entry Nodes
265497,295.305054,862.294739,47,0.999458,225313,entry_zone,7,WT,Female,Entry Nodes
265498,295.361694,876.922546,47,0.999976,225314,entry_zone,7,WT,Female,Entry Nodes
265499,294.444183,901.016602,47,0.962276,225315,entry_zone,7,WT,Female,Entry Nodes

# Create Velocity column

In [6]:
from compass_labyrinth.behavior.preprocessing import ensure_velocity_column


df_all_csv = ensure_velocity_column(df_all_csv, fps=5) 
df_all_csv

,x,y,Grid Number,likelihood,S_no,Region,Session,Genotype,Sex,NodeType,Velocity
0,275.057129,875.337219,47,0.983259,748,entry_zone,3,WT,Female,Entry Nodes,0.000000
1,271.037537,872.005432,47,0.989085,749,entry_zone,3,WT,Female,Entry Nodes,26.104563
2,267.526978,873.733704,47,0.986050,750,entry_zone,3,WT,Female,Entry Nodes,19.564603
3,265.571991,873.412659,47,0.953975,751,entry_zone,3,WT,Female,Entry Nodes,9.905860
4,266.325684,874.166748,47,0.958631,752,entry_zone,3,WT,Female,Entry Nodes,5.330815
...,...,...,...,...,...,...,...,...,...,...,...
265495,228.690262,814.897949,34,0.999385,225311,reward_path,7,WT,Female,Non-Decision (Reward),293.221609
265496,292.517883,837.722717,46,0.999992,225312,entry_zone,7,WT,Female,Entry Nodes,338.929760
265497,295.305054,862.294739,47,0.999458,225313,entry_zone,7,WT,Female,Entry Nodes,123.647944
265498,295.361694,876.922546,47,0.999976,225314,entry_zone,7,WT,Female,Entry Nodes,73.139586
265499,294.444183,901.016602,47,0.962276,225315,entry_zone,7,WT,Female,Entry Nodes,120.557592

# Save Preprocessed Combined & Individual csvs

In [7]:
from compass_labyrinth.behavior.preprocessing import save_preprocessed_to_csv


save_preprocessed_to_csv(
    config=config,
    df=df_all_csv,
)

Saved combined file: /Users/luiztauffer/Github/CoMPASS-Labyrinth/notebooks/my_project/csvs/combined/Preprocessed_combined_file.csv
Saved 5 individual session CSVs to: /Users/luiztauffer/Github/CoMPASS-Labyrinth/notebooks/my_project/csvs/individual